﻿@model AirWaysClient.Models.TravelRegistrationViewModel

<h2>Reservaciones</h2>

<div>
    <h4>Eliminar Reservacion</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.Label("Nº identificacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerIDCard)
        </dd>

        <dt>
            @Html.Label("Destino")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.Label("Origen")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>
        <dt>
            @Html.Label("Asientos Reservados")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelSeatsBooked)
        </dd>

        <dt>
            @Html.Label("Precio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRavelPrice)
        </dd>

        <dt>
            @Html.Label("Fecha Salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDate)
        </dd>

        <dt>
            @Html.Label("Fecha registro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelRegistrationDate)
        </dd>





    </dl>

    @using (Html.BeginForm("Delete", "TravelRegistrations", FormMethod.Post, new { @id = "FormDelete" }))
    {
        @Html.HiddenFor(model => model.TravelRegistrationID)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" id="delete" class="btn btn-default" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $('#delete').click(function (e) {
            e.preventDefault();
            swal({
                title: "Eliminar Registro?",
                text: "El registro se eliminará de forma permanente",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Borrar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#FormDelete").submit();
                    } else {
                        swal("Cancelado", "No de borrará el registro", "error");
                    }
                });

        })

    </script>
}
