﻿@model AirWaysClient.Models.TravelRegistration

<h2>Reservacion de vuelos</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar reservacion de Vuelo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TravelID, "Vuelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TravelID", ViewBag.travels as SelectList, "Seleccione", new { @class = "form-control", @id = "TravelID" })
                @Html.ValidationMessageFor(model => model.TravelID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", ViewBag.customers as SelectList, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelSeatsBooked, "Numero de Asientos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelSeatsBooked, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @max = "1", @id = "TravelSeatsBooked" } })
                <label class="label label-success hidden" id="asientos">Asientos Disponibles</label>
                @Html.ValidationMessageFor(model => model.TravelSeatsBooked, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.TravelRegistrationDate)
        @Html.HiddenFor(model => model.TravelRegistrationID)
        @Html.HiddenFor(model => model.TravelID)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al guardar los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var seleccion = $("#TravelID").val();
            if (seleccion != "") {
                $.ajax({
                    url: '@Url.Action("GetSeatsRemaining")',
                    dataType: 'json',
                    data: { travelid : seleccion },
                    success: function (seats) {
                        document.getElementById("TravelSeatsBooked").setAttribute("max", seats);
                        var text = "Asientos disponibles: " + seats;
                        $("#asientos").text(text);
                        $("#asientos").removeClass("hidden");
                    },
                    error: function (xh) {
                        console.log(xh);
                    }
                })
            } else {
                $("#asientos").text = "sientos disponibles:";
                $("#asientos").addClass("hidden");
            }
        })
    </script>

    <script type="text/javascript">
        //Solicitar la cantidad de asientos disponibles para un vuelo seleccionado
        $("#TravelID").change(function (e) {
            var seleccion = $("#TravelID").val();
            if (seleccion != "") {
                $.ajax({
                    url: '@Url.Action("GetSeatsRemaining")',
                    dataType: 'json',
                    data: { travelid : seleccion },
                    success: function (seats) {
                        document.getElementById("TravelSeatsBooked").setAttribute("max", seats);
                        var text = "Asientos disponibles: " + seats;
                        $("#asientos").text(text);
                        $("#asientos").removeClass("hidden");
                    },
                    error: function (xh) {
                        console.log(xh);
                    }
                })
            } else {
                $("#asientos").text = "sientos disponibles:";
                $("#asientos").addClass("hidden");
            }
        })

    </script>
}