﻿@model IEnumerable<AirWaysClient.Models.TravelRegistrationViewModel>

<h2>Reservaciones de Vuelos</h2>

<p>
    @Html.ActionLink("Crear nueva reservacion", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.Label("Cliente")
            </th>
            <th>
                @Html.Label("Nº identificacion")
            </th>
            <th>
                @Html.Label("Origen")
            </th>
            <th>
                @Html.Label("Destino")
            </th>
            <th>
                @Html.Label("Precio")
            </th>
            <th>
                @Html.Label("Fecha salida")
            </th>
            <th>
                @Html.Label("Nº Asientos")
            </th>
            <th>
                @Html.Label("Fecha registro")
            </th>
            <th>
                @Html.Label("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerIDCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRavelPrice)
                </td>
                <td>
                    @if (item.TravelDate > DateTime.Now)
                    {
                        @Html.Label(item.TravelDate.ToString(), new { @class = "label label-success" })
                    }
                    else
                    {
                        @Html.Label(item.TravelDate.ToString(), new { @class = "label label-danger" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelSeatsBooked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelRegistrationDate)
                </td>
                <td>
                    @if (item.TravelDate > DateTime.Now)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.TravelRegistrationID }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Eliminar", "Delete", new {id = item.TravelRegistrationID }, new { @class = "btn btn-warning btn-xs" })
                    }
                    else
                    {
                        @Html.Label("-Expirado-", new {@class="label label-danger" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al leer los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }
}