﻿
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login","Login",FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="form-group">
                <input type="email" class="form-control" name="username" placeholder="User Name" />
                <input type="password" name="password" class="form-control" placeholder="Password" />
                <input type="submit" class="btn btn-primary" value="Go" name="GO2" />
                <input type="button" value="Cancel" class="btn btn-danger" name="CancelBtn" />
            </div>
        </div>
    </div>
}

