﻿@model AirWaysClient.Models.Destination

<h2>Destinos</h2>

<div>
    <h4>Eliminar Destino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Codigo del Destino")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationCode)
        </dd>

        <dt>
            @Html.Label("nombre del Destino")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestinationName)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Destinations", FormMethod.Post, new { @id = "FormDelete" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(m => Model.DestinationCode)
            @Html.HiddenFor(m => Model.DestinationID)
            @Html.HiddenFor(m => Model.DestinationName)
            <input type="submit" value="Eliminar" id="delete" class="btn btn-default" /> 
            @Html.ActionLink("Volver", "Index", null, new { @class="btn btn-danger"})
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $('#delete').click(function (e) {
            e.preventDefault();
            swal({
                title: "Eliminar Registro?",
                text: "El registro se eliminará de forma permanente",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Borrar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#FormDelete").submit();
                    } else {
                        swal("Cancelado", "No de borrará el registro", "error");
                    }
                });

        })

    </script>
}
