﻿@model IEnumerable<AirWaysClient.Models.Destination>

<h2>Destinos Registrados</h2>

<p>
    @Html.ActionLink("Crear nuevo destino", "Create", null, new { @class = "btn btn-success" })
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Codigo Destino")
            </th>
            <th>
                @Html.Label("Nombre Destino")
            </th>
            <th>
                @Html.Label("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                <td>
                    @Html.ActionLink("Editat", "Update", new { id = item.DestinationID }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.DestinationID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>


</table>

@section scripts{
    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al leer los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }
}
