﻿@model AirWaysClient.Models.Customer

<h2>Clientes</h2>
<div>
    <h4>Eliminar Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.Label("Dirección")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAdress)
        </dd>

        <dt>
            @Html.Label("Telefono")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.Label("Numero Identificación")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerIDCard)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Customers",FormMethod.Post, new { @id= "FormDelete" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CustomerName)

        @Html.HiddenFor(model => model.CustomerAdress)

        @Html.HiddenFor(model => model.CustomerPhone)

        @Html.HiddenFor(model => model.CustomerIDCard)

        @Html.HiddenFor(model => model.CustomerID)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" id="delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index",null, new { @class="btn btn-danger"})
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $('#delete').click(function (e) {
            e.preventDefault();
            swal({
                title: "Eliminar Registro?",
                text: "El registro se eliminará de forma permanente",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Borrar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#FormDelete").submit();
                    } else {
                        swal("Cancelado", "No de borrará el registro", "error");
                    }
                });

        })

    </script>
}