﻿@model IEnumerable<AirWaysClient.Models.Customer>

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear nuevo Cliente", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Dirección")

            </th>
            <th>
                @Html.Label("Telefono")

            </th>
            <th>
                @Html.Label("Numero Identificación")
            </th>
            <th>
                @Html.Label("Acciones")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerIDCard)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CustomerID }, new { @class="btn btn-info"}) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CustomerID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts{
    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al leer los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }
}