﻿@{
    ViewBag.Title = "Air Ways";
}

<div class="jumbotron">
    <h1>Air Ways</h1>
    <p class="lead">Reservas de vuelos - En Todo Momento</p>
    <p><a href='@Url.Action("Index","TravelRegistrations")' class="btn btn-primary btn-lg">Reservar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Customers")'>Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Travels</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Travels")'>Travels &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Destinations</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Destinations")'>Destinations &raquo;</a></p>
    </div>
</div>