﻿@model AirWaysClient.Models.Travel

<h2>Vuelos</h2>

<p>Politica de creacion de vuelos</p>
<ul class="list-group">
    <li class="list-group-item">El origen no puede ser igual al destino</li>
    <li class="list-group-item">Debe registrar el vuelo con al menos un asiento disponible</li>
    <li class="list-group-item">La fecha de salida del buelo debe ser igual o mayor a ka fecha actual</li>
    <li class="list-group-item">El vuelo debe tene un precio mayor a cero</li>
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear Vuelo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TravelSource, "Origen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TravelSource", ViewBag.destinos as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelTarget, "Destino", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TravelTarget", ViewBag.destinos as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelDate, "Fecha de salida", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.TravelDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelHour, "Hora de salida", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelHour, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                @Html.ValidationMessageFor(model => model.TravelHour, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelSeatCapacity, "Capacidad del vuelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelSeatCapacity, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                @Html.ValidationMessageFor(model => model.TravelSeatCapacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelPrice, "Precio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al guardar los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }
}
