﻿@model AirWaysClient.Models.TravelViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Vuelos</h2>

<div>
    <h4>Eliminar Vuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Origen")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeSource)
        </dd>

        <dt>
            @Html.Label("Destino")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeTarget)
        </dd>
        <dt>
            @Html.Label("Capacidad del vuelo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelSeatCapacity)
        </dd>
        <dt>
            @Html.Label("Asientos Disponibles")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelAvailableSeats)
        </dd>

        <dt>
            @Html.Label("Precio")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelPrice)
        </dd>

        <dt>
            @Html.Label("Fecha del Vuelo")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelDate)
        </dd>



    </dl>

    @using (Html.BeginForm("Delete", "Travels", FormMethod.Post, new { @id = "FormDelete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TravelAvailableSeats)
        @Html.HiddenFor(model => model.TravelTarget)
        @Html.HiddenFor(model => model.TravelSource)
        @Html.HiddenFor(model => model.TravelPrice)
        @Html.HiddenFor(model => model.TravelDate)
        @Html.HiddenFor(model => model.CodeSource)
        @Html.HiddenFor(model => model.CodeTarget)
        @Html.HiddenFor(model => model.TravelID)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" id="delete" class="btn btn-default" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $('#delete').click(function (e) {
            e.preventDefault();
            swal({
                title: "Eliminar Registro?",
                text: "El registro se eliminará de forma permanente",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Borrar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#FormDelete").submit();
                    } else {
                        swal("Cancelado", "No de borrará el registro", "error");
                    }
                });

        })

    </script>
}