﻿@model IEnumerable<AirWaysClient.Models.TravelViewModel>

<h2>Vuelos</h2>

<p>
    @Html.ActionLink("crear nuevo vuelo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.Label("Origen")
            </th>
            <th>
                @Html.Label("Destino")
            </th>
            <th>
                @Html.Label("Capacidad del vuelo")
            </th>
            <th>
                @Html.Label("Asientos Disponibles")
            </th>
            <th>
                @Html.Label("Precio")
            </th>
            <th>
                @Html.Label("Fecha salida")
            </th>
            <th>
                @Html.Label("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeTarget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelSeatCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelAvailableSeats)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TravelPrice)
                </td>
                <td>
                    @if (item.TravelDate > DateTime.Now)
                    {
                        @Html.Label(item.TravelDate.ToString(), new { @class = "label label-success" })
                    }
                    else
                    {
                        @Html.Label(item.TravelDate.ToString(), new { @class = "label label-danger" })
                    }
                </td>

                <td>
                    @if (item.TravelDate > DateTime.Now)
                    {
                        @Html.ActionLink("Editar", "Update", new { id = item.TravelID }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.TravelID }, new { @class = "btn btn-warning btn-xs" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
@section Scripts {

    @if (ViewBag.mensajeNegativo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Error al guardar los datos", "@ViewBag.mensajeNegativo", "error");
            })
        </script>
    }

    @if (ViewBag.mensajePositivo != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                swal("Exito", "@ViewBag.mensajePositivo", "success");
            })
        </script>
    }
}